<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post List Asc</title>
</head>
<body>
<p>
    <a href="/posts">Post list</a>
</p>
<h1>Post</h1>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Likes</th>
        <th>Create At</th>
<!--        <th>Edit</th>-->
    </tr>
    <th:block th:each="po : ${posts}">
        <tr>
            <td th:text="${po.title}"></td>
            <td th:text="${po.content}"></td>
            <td th:text="${po.likes}"></td>
            <td th:text="${po.createAt}"></td>
<!--            <td><a th:href="@{/edit-post/__${posts.id}__ }">Edit</a></td>-->

        </tr>
    </th:block>
</table>
</body>
</html>